{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{#    <div class="mt-16 flex justify-center mx-auto gap-4">#}
{#        <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" href="{% url 'login' %}">Log In</a>#}
{#        <span class="self-center">or</span>#}
{#        <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" href="{% url 'signup' %}">Sign Up</a>#}
{#    </div>#}
{% endblock %}