{% extends "base.html" %}

{% block content %}


    <!--Password Reset Confirm-->
    <div class="form-wrapper max-w-md mx-auto">
        <h1 class="text-center mt-14 mb-7 text-3xl">Password Reset Confirm</h1>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            <label style="margin-top: 1em">{{ form.new_password1.label }}:</label>
            {{ form.new_password1 }}
            {{ form.errors.new_password1 }}

            <label style="margin-top: 1em">{{ form.new_password2.label }}:</label>
            {{ form.new_password2 }}
            {{ form.errors.new_password2 }}
            <button class="mx-auto mt-2 block bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit">Reset password</button>
        </form>
    </div>

 <style>
        .form-wrapper {
            display: flex;
            flex-direction: column;
        }

        .form-wrapper form input[type=text], form input[type=password], form input[type=email] {
            border: 1px solid black;
            outline: none;
            font-family: "Inter", sans-serif;
            display: block;
            margin-bottom: 1em;
            padding: 2px 5px;
            width: 100%;
            border-radius: 0.25rem;
        }

        form#login input {
            margin-top: 5px;
        }

        .errorlist li {
            color: #f16060;
            margin-bottom: 1em;
        }

        label {
            opacity: 0.8;
            font-size: 0.9em;
        }
    </style>
{% endblock %}