{% extends "base.html" %}

{% block content %}

    <!--Password Reset Complete-->
    <div class="form-wrapper max-w-md mx-auto">
        <h1 class="text-center mt-14 mb-7 text-3xl">Password reset complete</h1>
        <p>Your password has been set. You may go ahead and <a class="underline" href="{% url 'login' %}" class="button little-button">log in</a> now.</p>
    </div>

    <style>
        .form-wrapper {
            display: flex;
            flex-direction: column;
        }

        .form-wrapper form input[type=text], form input[type=password], form input[type=email] {
            border: 1px solid black;
            outline: none;
            font-family: "Inter", sans-serif;
            display: block;
            margin-bottom: 1em;
            padding: 2px 5px;
            width: 100%;
            border-radius: 0.25rem;
        }

        form#login input {
            margin-top: 5px;
        }

        .errorlist li {
            color: #f16060;
            margin-bottom: 1em;
        }

        label {
            opacity: 0.8;
            font-size: 0.9em;
        }
    </style>

{% endblock %}