{% extends 'base.html' %}

{% block content %}

    <div class="form-wrapper max-w-md mx-auto">
        <h1 class="text-center mt-14 mb-7 text-5xl">Reset password</h1>
        <p class="mb-2 text-xl">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new
            one.</p>
        <form method="POST">
            {% csrf_token %}
            <label>{{ password_reset_form.email.label }}:</label>
            {{ password_reset_form.email }}
            {{ password_reset_form.errors.email }} {# username errors #}


            {{ form.non_field_errors }}
            <button class="mx-auto mt-2 block bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                    type="submit">
                Send email
            </button>
        </form>
    </div>

<style>
        .form-wrapper {
            display: flex;
            flex-direction: column;
        }

        .form-wrapper form input[type=text], form input[type=password], form input[type=email] {
            border: 1px solid black;
            outline: none;
            font-family: "Inter", sans-serif;
            display: block;
            margin-bottom: 1em;
            padding: 2px 5px;
            width: 100%;
            border-radius: 0.25rem;
        }

        form#login input {
            margin-top: 5px;
        }

        .errorlist li {
            color: #f16060;
            margin-bottom: 1em;
        }

        label {
            opacity: 0.8;
            font-size: 0.9em;
        }
    </style>
{% endblock %}